Package: com.minazuki.zbypass
Name: ZoomBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Avoid jailbreak detection for Zoom.
Depiction: https://minazukidev.github.io/html/ZoomBypass/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
